<!-- Loading bar -->
<erp-loading-bar></erp-loading-bar>

<!-- Navigation -->
<erp-vertical-navigation
    class="dark bg-gray-900 print:hidden"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'"
    [navigation]="navigation.default"
    [opened]="!isScreenSmall"
>
    <!-- Navigation header hook -->
    <ng-container erpVerticalNavigationContentHeader>
        <!-- Logo BOA -->
        <div class="flex h-24 items-center justify-center px-8 py-8 mb-4">
            <img
                class="w-32"
                src="images/erp/boa_logo_white.png"
                alt="BOA Logo"
            />
        </div>
    </ng-container>
</erp-vertical-navigation>

<!-- Wrapper -->
<div class="flex w-full min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div
        class="bg-card relative z-49 flex h-16 w-full flex-0 items-center px-4 shadow dark:border-b dark:bg-transparent dark:shadow-none sm:h-20 md:px-6 print:hidden"
    >
        <!-- Navigation toggle button -->
        <button
            mat-icon-button
            (click)="toggleNavigation('mainNavigation')"
        >
            <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
        </button>

        <!-- Logo for mobile -->
        @if (isScreenSmall) {
            <div class="mx-4 flex items-center">
                <img
                    class="w-20 dark:hidden"
                    src="images/erp/boa_logo_blue.png"
                />
                <img
                    class="hidden w-20 dark:flex"
                    src="images/erp/boa_logo_white.png"
                />
            </div>
        }

        <!-- Spacer -->
        <div class="flex-1"></div>

        <!-- Components -->
        <div class="ml-auto flex items-center space-x-0.5 pl-2 sm:space-x-2">
            <languages></languages>
            <erp-fullscreen class="hidden md:block"></erp-fullscreen>
            <search [appearance]="'bar'"></search>
            <scheme></scheme>
            <theme></theme>
            <notifications></notifications>
            <user></user>
        </div>
    </div>

    <!-- Content -->
    <div class="flex w-full flex-auto flex-col">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        @if (true) {
            <router-outlet></router-outlet>
        }
    </div>

    <!-- Footer -->
    <div
        class="bg-card relative z-49 flex h-14 w-full flex-0 items-center border-t px-4 dark:bg-transparent sm:h-20 md:px-6 print:hidden"
    >
        <span class="text-secondary font-medium"
            >Erp BoA &copy; {{ currentYear }} Boliviana de Aviación - Todos los derechos reservados</span
        >
    </div>
</div>
